@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mate+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit";
}
body {
  color: #b1d4e0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #05445e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: #75e6da;
  text-decoration: none;
  font-weight: 600;
}
.navbar a {
  font-size: 18px;
  color: #d4f1f4;
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: #0fa4af;
}
.home {
  height: 100vh;
  background: url(home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  padding: 0 10%;
  padding-top: 30vh;
}
.home-content {
  max-width: 600px;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.2;
}
.home-content h3 {
  font-size: 28px;
  font-weight: 500;
  color: white;
}

.home-content p {
  font-size: 20px;
  margin: 20px 0 40px;
}
.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.btn-box a {
  position: relative;
  display: inline-flex;
  width: 150px;
  height: 100%;
  background: #afdde5;
  border: 2px solid #afdde5;
  border-radius: 8px;
  font-size: 19px;
  color: #024950;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #0fa4af;
}

.btn-box a:nth-child(2):hover {
  color: #2e8bc0;
  background: #afdde5;
}
.btn-box a:hover {
  color: #2e8bc0;
  background: transparent;
}

